*~
*.bak
vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher/Tests
vendor/symfony/dependency-injection/Symfony/Component/DependencyInjection/Tests
bower_components/jquery/
bower_components/jquery-ui/
bower_components/angular-unsavedChanges/demo/